<main class="app">
  <div class="app-head">
    <h5 class="title app-title">Find the job you need</h5>
    <div class="search">
      <div class="search-cont">
        <input  [matAutocomplete]="role" class="search-bar skills" placeholder="Keywords: skills/role"  #s (blur)="handleBlur(1,s.value)"/>
        <mat-autocomplete #role="matAutocomplete">
          <mat-option *ngFor="let s of skill" [value]="s">{{s}}</mat-option>
        </mat-autocomplete>
        <h6 class="error" #e1>Please enter keywords!</h6>
      </div>
      <div class="search-cont">
        <input type="text" [matAutocomplete]="location" class="search-bar locations" placeholder="Location"  #l (blur)="handleBlur(2,l.value)"/>
        <mat-autocomplete #location="matAutocomplete">
          <mat-option *ngFor="let l of place" [value]="l">{{l}}</mat-option>
        </mat-autocomplete>
        <h6 class="error" #e2>Please enter location!</h6>
      </div>
      <button class="search-button" (mouseenter)="handleMouseOn(searchicon)" (mouseleave)="handleMouseOff(searchicon)" (click)="handleClick(s.value,l.value)"><img src="../assets/images/searchicon.png" class="search-icon" #searchicon/></button>
    </div>
  </div>
  <div class="result">
    <h6 *ngIf='switch && result1.length==0' class="paragraph result-highlight">Search by entering the desired job you wanted!</h6>
    <h6 *ngIf="switch2 && result1.length==0" class="paragraph result-highlight">Sorry! There is currently no job available for the mentioned keywords.</h6>
    <div class="filters" *ngIf="result1.length!=0">
      <div class="sort-cont">
        <img src="../assets/images/sorticon.png" class="sort-icon"/>
        <mat-form-field>
          <mat-label htmlFor="sort">Sort: </mat-label>
          <mat-select id="sort" (valueChange)="handleSort(sort.value)" #sort >
            <mat-option value="sorta-z">Sort A-Z</mat-option>
            <mat-option value="sortz-a">Sort Z-A</mat-option>
            <mat-option value="newest">Newest First</mat-option>
            <mat-option value="oldest">Oldest First</mat-option>
        </mat-select>
        </mat-form-field>
      </div>
      <div class="filter-cont">
        <img src="../assets/images/filtericon.png" class="filter-icon"/>
        <mat-form-field>
          <mat-label htmlFor="jobType">Job type: </mat-label>
          <mat-select id="jobType" (valueChange)="handleChange(jobType)" #jobType >
            <mat-option value="Show all">Show all</mat-option>
            <mat-option value="Entry level">Entry Level</mat-option>
            <mat-option value="Mid level">Mid Level</mat-option>
            <mat-option value="Senior level">Senior Level</mat-option>
            <mat-option value="Internship">Internship</mat-option>
        </mat-select>
        </mat-form-field>
      </div>
    </div>
    <h6 *ngIf="result.length==0 && result1.length!=0" class="paragraph result-highlight">Sorry! Currently no job available in the filtered type!</h6>
    <div class="results">
      <div *ngFor="let r of result">
        <app-job [result]="r"></app-job>
      </div>
    </div>
    <a *ngIf="result.length!=0" href="https://www.themuse.com/search/company/the-muse/keyword/engineering/?searchtype=jobs" target="_blank" class="paragraph">View more jobs...</a>
  </div>
  <button class="highlight scrollToTopbttn" (click)="handleTopButton()" #Topbttn>&uarr;</button>
</main>


<router-outlet></router-outlet>
